.navbarContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1.5px solid #B6B6D2;
	padding: 0.8rem 0rem;
	/* position: fixed; */
	width: auto;
	height: 10vh;
	z-index: 2;
	box-shadow: var(--box-shadow);
}

.navbarHeader {
    display: flex;
    align-items: center;
	margin: 0px 20px;
}